<div class = products-page>
    <h1>Products</h1>
    <p><h3>In order to place an order, please log in.</h3>

    <div class="product-card-list">
    <ng-container *ngIf="productService.products.length > 0">
        <div 
            *ngFor="let product of productService.products"
        >
            <app-product-card
                [product]="product"
            ></app-product-card>
        </div>
           
    </ng-container>
    </div>
    <h3 *ngIf="productService.products.length === 0">
        No products available.
    </h3>
</div>