<mat-toolbar color="primary" class="app-header">
    <mat-toolbar-row>
        <div class="main-title">
            <h1>Pizza Order</h1>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button class="toolbar-button" mat-raised-button color="accent" routerLink="">
            <mat-icon>home</mat-icon>
            Dashboard
        </button>
        <button class="toolbar-button" mat-button routerLink="/products">
            <mat-icon>fastfood</mat-icon>
            Products
        </button>
        <button class="toolbar-button" mat-button routerLink="/categories">
            <mat-icon>category</mat-icon>
            Categories
        </button>

        <ng-container
            *ngIf="authService.isLoggedIn"
        >
            <button class="toolbar-button" mat-button routerLink="/orders">
                <mat-icon>menu_open</mat-icon>
                My Orders
            </button>
            <button class="toolbar-button" mat-button routerLink="/orders/new" [appRole]="[UserRole.User]">
                <mat-icon>add_shopping_cart</mat-icon>
                Create Order
            </button>
        </ng-container>

        <span class="spacer"></span>


        <button class="toolbar-button" mat-button routerLink="/shopping-cart">
            <mat-icon>shopping_cart</mat-icon>
            Cart
        </button>
        <ng-container 
            *ngIf="authService.isLoggedIn; else loggedOut"
        >
            <button class="toolbar-button" mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_box</mat-icon>
                Profil
            </button>
            <mat-menu #menu="matMenu">
                <button class="toolbar-button" mat-menu-item href="/profile">
                    <mat-icon>list</mat-icon>
                    Details
                </button>
                <mat-divider [inset]="false"></mat-divider>
                <button class="toolbar-button" color="accent" mat-menu-item (click)="authService.logout()">
                    <mat-icon>highlight_off</mat-icon>
                    Logout
                </button>
            </mat-menu>

        </ng-container>

        <ng-template #loggedOut>
            <button class="toolbar-button" mat-button routerLink="/login">
                <mat-icon>input</mat-icon>
                Login
            </button>
        </ng-template>
  
    </mat-toolbar-row>
    
</mat-toolbar>